html
   head
    title Page Not Found!
    style 
        include ../stylesheets/style.css
    script 
        include ../eventScript.js
   body
   if(type === "error")
        h1(style="font-size: 152px;") 404